* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: #89dbfc;
}

.avata_login {
  display: flex;
  align-items: center;
  position: relative;
}

.avata_img {
  height: 50px;
  cursor: pointer;
}
.infoUser {
  position: absolute;
  top: 60px;
  left: 45px;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #fff;
  padding: 10px 0 10px;
  box-shadow: 2px 10px 18px #7a7a7a;
}
.contain_infoUser {
  width: 100%;
  text-decoration: none;
  color: #000;
  margin-bottom: 5px;
  padding: 5px 10px;
  text-align: left;
}
.contain_infoUser:hover {
  text-decoration: none;
  cursor: pointer;
  color: #000;
  background-color: #1d1c1c7c;
}
.Text_infoUser {
}

.user_name_text {
  color: #fff;
  margin-bottom: 0;
  font-size: 19px;
  margin: 0 6px 0 24px;
}
/* .avata_login:hover .logout_text {
  display: block;
}
.logout_text {
  position: absolute;
  bottom: -20px;
  right: 80px;
  color: #000;
  background-color: #fff;
  padding: 0 10px;
  display: none;
  cursor: pointer;
} */

.btn-login {
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 7px 15px;
  margin: 0 0 4px 10px;
  border-radius: 4px;
  font-size: 16px;
  transition: all 0.3s linear;
}
.btn-login:hover {
  color: #000;
  background-color: #fff;
  text-decoration: none;
}

.text-form-login {
  margin-left: 5px !important;
}

.btn-form-login {
  display: block !important;
  width: 100%;
  margin-top: 22px;
}

.form-login {
  border: 1px solid #fff;
  padding: 20px;
  box-shadow: -14px 14px #ccc;
  max-width: 654px;
  margin: 0 auto;
  border-radius: 15px;
}

.p-200 {
  padding: 0 200px;
}

.m-200 {
  margin: 0 200px;
}

.top {
  margin-top: 100px;
}

.row {
  width: 100%;
  margin-left: -5px;
}

.row.top {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  box-shadow: 5px 10px 18px #888888;
}
.card-color {
  border: none;
  background-color: #f7f7f7;
  width: 100px;
}
.bg-dark {
  background-color: #3a75b0 !important;
}
.card-img {
  box-shadow: -6px -6px 6px;
}

.card-2 {
  width: 100%;
  display: flex !important;
  justify-content: space-evenly !important;
  align-items: center;
  margin-bottom: 100px;
}

.card-size {
  border-radius: 15px;
  min-height: 370px;
  box-shadow: -10px 9px 15px;
}

.img-size {
  object-fit: cover;
  height: 170px;
  border-radius: 15px;
}

.card-btn {
  width: 100%;
}

.about {
  margin-bottom: 30px;
}

.card-img-1 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-text {
  color: #000;
  text-align: left;
}

.form {
  margin-bottom: 102px;
  padding: 0 40px;
}

.card-text1 {
  text-align: center;
  margin-bottom: 30px;
}

.img-title {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.doc-ol {
  background-color: #343a40 !important;
}

.doc-ol li {
  color: #fff !important;
}

.navbar-dark {
  background-color: #3a75b0;
  height: inherit;
}

.doc-nav {
  position: relative;
}

nav {
  box-shadow: 5px 5px 8px !important;
}

.p {
  padding: 0 80px;
}

.b {
  margin-bottom: 70px;
}

a.nav-news {
  color: #000 !important;
}

i.fab.fa-facebook {
  color: #fff;
}

#box-login-fb {
  cursor: pointer;
}

#login-fb {
  cursor: pointer;
  border-radius: 5px;
  background-color: #0069d9;
  padding: 5px;
  margin-top: 20px;
  display: inline-block;
  color: #fff;
}
#login-fb:hover {
  text-decoration: none;
  opacity: 0.8;
}

.nav-Docs {
  margin-left: -14px;
  margin-right: 4px;
}

a.dropdown-item.nav-Docs {
  text-decoration: none;
  color: #fff;
  font-size: 21px;
  background-color: transparent;
}

.doc-btn {
  position: absolute;
  right: 0;
  text-decoration: none;
  background-color: #343a40;
  color: #fff;
  padding: 12px 10px;
  height: auto;
  display: inline-block;
  margin-top: -64px;
  margin-right: 73px;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 1px;
}

.footer-layout {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.footer-layout p {
  color: #fff;
  text-align: center;
}

.footer-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fab {
  color: #fff;
  margin-right: 15px;
  font-size: 22px;
}

.navbar-brand {
  margin-right: 2.5rem;
}

.main {
  position: relative;
}

.main-box {
  position: absolute;
}

.main-box2 {
  position: absolute;
  right: 35px;
  top: 0;
}

.box {
  background-color: #000;
  width: 100px;
  height: 130px;
  border-radius: 100px 100px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
  margin-top: -50px;
  animation: idx 1s cubic-bezier(0.55, 0.055, 0.675, 0.19) infinite alternate;
}

.box::before {
  content: "";
  width: 20px;
  height: 20px;
  background-color: #000;
  position: absolute;
  bottom: 0;
  transform: translateY(50%);
  border-radius: 0 0 100px 100px;
  box-shadow: 20px 0 0 #000, 40px 0 0 #000, 60px 0 0 #000, 80px 0 0 #000;
  left: 0;
}

.box-eye {
  position: relative;
  background-color: #000;
  width: 50px;
  height: 20px;
}

.box-eye::before {
  content: "";
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  left: 0;
  position: absolute;
  box-shadow: 30px 0 0 white;
}

.form-inline {
  margin-right: 16px;
}

.eye {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #000;
  left: -35px;
  position: relative;
  box-shadow: 100px 0 0 #000;
}

.eye::before {
  content: "";
  position: absolute;
  height: 20px;
  width: 35px;
  border-radius: 0 0 100px 100px;
  background-color: white;
  bottom: 0;
  left: 210%;
  transform: translateY(25px);
}

.eye::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 10px;
  background-color: #000;
  top: 25px;
  left: 50px;
}

@keyframes idx {
  to {
    transform: translateY(50%);
  }
}

.slide {
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  --cta-hover-color: #7612ff;
  background: linear-gradient(to right, #7612ff, #05b2ff);
}
.slide_box {
  max-height: 558px;
  max-width: 620px;
}
.slide_img- {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text {
  color: #fff;
}

.icon_move {
  font-size: 30px;
  color: #fff;
  padding: 5px 5px;
  cursor: pointer;
}

.fa-chevron-circle-right {
  transform: translateX(18px);
}

.form-control {
  min-height: 41px;
  background: #fff;
  box-shadow: none !important;
  border-color: #e3e3e3;
}

.form-control:focus {
  border-color: #70c5c0;
}

.form-control,
.btn {
  border-radius: 2px;
}

.login-form {
  width: 400px;
  margin: 0 auto;
  padding: 150px 0 30px;
  position: relative;
}

.login-form form {
  color: #7a7a7a;
  border-radius: 2px;
  margin-bottom: 15px;
  font-size: 13px;
  background: #ececec;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  padding: 30px;
  position: relative;
}

.login-form h2 {
  font-size: 22px;
  margin: 35px 0 25px;
}

.login-form .avatar {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: -50px;
  width: 95px;
  height: 95px;
  border-radius: 50%;
  z-index: 9;
  background: #70c5c0;
  padding: 15px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}

.login-form .avatar img {
  width: 100%;
}

.login-form input[type="checkbox"] {
  position: relative;
  top: 1px;
}

.login-form .btn,
.login-form .btn:active {
  font-size: 16px;
  font-weight: bold;
  background: #70c5c0 !important;
  border: none;
  margin-bottom: 20px;
}

.login-form .btn:hover,
.login-form .btn:focus {
  background: #50b8b3 !important;
}

.small {
  color: #fff;
  font-size: 18px;
}

.login-form a {
  color: #fff;
  text-decoration: underline;
}

.login-form a:hover {
  text-decoration: none;
}

.login-form form a {
  color: #7a7a7a;
  text-decoration: none;
}

.login-form form a:hover {
  text-decoration: underline;
}

.login-form .bottom-action {
  font-size: 14px;
}

#vdetail_video {
  height: 495px;
  margin-right: 312px;
  margin-bottom: 100px;
}

.wrapper {
  width: 100%;
  margin-left: -15px;
}

.col-3-pagechitiet {
  width: 500px;
}

iframe {
  width: 100%;
  height: 100%;
}

.detail_text {
  color: #fff;
}

.d-flex {
  width: 100%;
}

.top .col-lg-3 {
  max-height: 500px;
  position: fixed;
  top: 100px;
  right: 0;
  overflow: scroll;
}

main.main {
  height: 450px;
}

.heading-secondary {
  font-size: 2rem;
  color: #fff;
  text-align: center;
}

.error__emoji {
  text-align: center;
}

.error__msg {
  color: #fff;
  font-size: 25px;
  text-align: center;
}
.btn-arrow-left {
  background-color: transparent;
  border: none;
}
.btn-arrow-left:active {
  border: none;
  background-color: red;
}
.alert {
  display: none;
}
.alert-message {
  text-align: center;
  font-size: 15px;
}
.alert-message.active_success .alert {
  display: block;
  width: 100%;
}
.alert-message.active_false .alert {
  display: block;
  width: 100%;
}
.alert_text {
  margin-left: 5px;
  color: red;
  margin-bottom: 0;
}
