html
    body
        nav.navbar.navbar-dark.bg-dark
            .footer-layout
                .footer-size
                    p.footer-text Bản quyền thuộc về Tác Giả
                    p.footer-text-1
                        | T is optimized for learning and training. Examples might be simplified to
                        | improve reading and learning. Tutorials, references, and examples are constantly reviewed to avoid
                        | errors,
                        | but we cannot warrant full correctness of all content. While using T, you agree to have read and
                        | accepted our terms of use, cookie and privacy policy.
                    .footer-icon
                        a(href='https://www.facebook.com/profile.php?id=100040739602255' target='_blank')
                            i.fab.fa-facebook
                        a(href='')
                            i.fab.fa-youtube
                        a(href='https://www.instagram.com/toiladinhtuan/' target='_black')
                            i.fab.fa-instagram