nav.navbar.fixed-top.navbar-expand-lg.navbar-dark
    .container
        .box-img-title
            a.navbar-brand(href='/')
                | HOME
                        
        
        
        .box-img-title
                    a.dropdown-item.nav-Docs(href='/Docs') Docs  
                    
        button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
            span.navbar-toggler-icon
        #navbarSupportedContent.collapse.navbar-collapse
            ul.navbar-nav.mr-auto
                li.nav-item.dropdown
                    a#navbarDropdown.nav-link.dropdown-toggle(href='#' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                        | More
                    .dropdown-menu(aria-labelledby='navbarDropdown')
                        
                        a.dropdown-item(href='#')
                            | News
                        .dropdown-divider
                        a.dropdown-item(href='#') Something else here
            form.form-inline.my-2.my-lg-0
                input.form-control.mr-sm-2(type='search' placeholder='Search' aria-label='Search')
                button.btn.btn-outline-success.my-2.my-sm-0(type='submit') Search
            if !user
                .box-img-title
                    a.btn-login(href='/signup')
                            | Đăng Ký
                .box-img-title
                    a.btn-login(href='/login')
                            | Đăng Nhập
            else 
                .avata_login 
                    p.user_name_text=user.username
                    img.avata_img(src="https://cdn-icons-png.flaticon.com/512/149/149071.png", alt="")
                    .infoUser
                        a.contain_infoUser(href='/admin/dashboard')
                            span.Text_infoUser admin manager   
                        a.contain_infoUser(href='/admin/dashboard')
                            span.Text_infoUser Dashboard
                        a.contain_infoUser(href='/admin/profine')
                            span.Text_infoUser Profine
                        a.contain_infoUser(href='')
                            span#avata_logout.logout_text.Text_infoUser dang xuat
                            